# Ignore configuration files that may contain sensitive information.
sites/*/settings.php
sites/*/settings.*.php
sites/*/settings_*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore database dumps and archives
*.sql
*.tar
*.gz
