/* @override 
	http://local.drupalcamp.org/sites/all/themes/dcatx/styles/styles.css?b
	http://local.drupalcamp.org/sites/all/themes/dcatx/styles/styles.css?x
	http://local.drupalcamp.org/sites/all/themes/dcatx/styles/styles.css?V
*/

/* Main Style Sheet
 * Author: Zachattack @fourkitchens 2011
 * ==|== Boilerplate resets not included in normalize =======================
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
td { vertical-align: top; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
label { cursor: pointer; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* @group Block Elements */

body {  
  background-color: #142835;
  color: #ffffff;
  font-size: 13px; 
  line-height: 1.231;
}

.panel {
	margin: 0 0 2em 0;
}

header {}

nav {}
.menu a {color: #ed9310;}

section {}

footer {
	background: #283946;
	border-top: 1px solid #4f5d67;
	clear: both;
	margin-top: 2em;
	overflow: hidden;
}

/* @end */

/* @group Header */

#super-header {
	height: 3.1em;
	background: url(../images/bg-navigation.png) no-repeat -1px 0;
	position: relative;
	z-index: 1;
}


/* heads up - using pixels */
#super-header .follow {
	background: url(../images/icon-twitter.gif) no-repeat;
	padding: .5em 0 0 2.4em;
	color: #fff;
	position: relative;
	top: -3px;
	left: 10px;
	z-index: 2;
}

#super-header .block-menu {
	float: right;
	margin: .5em;
}

#super-header .block-menu li {
	float: left;
	list-style: none;
	text-transform: uppercase;
}

#super-header a {
	color: #c64514;
}

/* heads up - using pixels */
#logo {
	position: relative;
	z-index: 1;
	top: -30px;
	float: left;
}

#primary-menu {
	font-size: 1.3em;
	color: #fff;
	font-weight: bold;
	text-align: right;
	position: relative;
	margin: -.9em 0 1.2em 0;
}

#primary-menu li {
	float: left;
}

#primary-menu a {
	display: block;
	padding: 2em 1em 1em 1em;
	color: #fff;
	text-shadow: 1px 1px 2px #333;
	text-decoration: none;
	
	/* CSS3 */
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#primary-menu a.active {
	background: #b53e10;
}

#primary-menu a:hover {
	background: #1c8fc7;
}

#block-menu-primary-links li {
	float: left;
	padding: 0;
	margin: 0 1.5em 0 0;
	font-size: 1.1em;
	list-style: none;
}

#block-menu-primary-links .menu {
	float: left;
	padding: 0;
	margin: 0;
}

#druplicon-bubble {
	position: relative;
	border: 5px solid #abcddc;
	background: #ebf6fa;
	overflow: visible;
	color: #666;
	font-weight: bold;
	font-size: 1.2em;
	padding: 1.5em 1.5em 3em 1.5em;
	width: 20.5em;
	margin: 0 1.5em 0 3.5em;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#druplicon-bubble h2 {
	margin: 0;
	color: #d24813;
}

#druplicon-bubble .arrow {
	position: absolute;
	top: 1.5em;
	left: -3.25em;
}

header .block {
	float: left;
}

header label {
	margin-left: 2em;
}

#reg-links {
	width: 20.5em;
}

#reg-links li {
	list-style: none;
}

#reg-links a {
	display: block;
	text-indent: -9999px;
	background: url(../images/sprite-cta-btns.png) no-repeat;
	width: 265px;
	height: 75px;
	margin: -.5em 0 0 0;
}

#reg-links a#btn-tr {
	width: 275px;
	margin: -1em 0 0 0;
	background-position: 0 -80px;
}

/* @end */

/* @group Blocks */

/* Blocks with border pattern */

.block-emph {
	border-width: 1px;
	border-bottom-width: 10px;
	-webkit-border-image: url(../images/border-pattern.png) 2 1 10 1 repeat repeat;
	-moz-border-image: url(../images/border-pattern.png) 2 1 10 1 repeat repeat;
	border-image: url(../images/border-pattern.png) 2 1 10 1 repeat repeat;
}

.block-emph .view-content {
background: rgb(50,72,88); /* Old browsers */
background: -moz-linear-gradient(top, rgba(50,72,88,1) 0%, rgba(40,57,70,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,72,88,1)), color-stop(100%,rgba(40,57,70,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(50,72,88,1) 0%,rgba(40,57,70,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(50,72,88,1) 0%,rgba(40,57,70,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(50,72,88,1) 0%,rgba(40,57,70,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324858', endColorstr='#283946',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(50,72,88,1) 0%,rgba(40,57,70,1) 100%); /* W3C */
padding: 10px;
margin: 1px 1px 0 1px;
}


/* @end */

/* @group News (teaser) */

.view-news .views-row {
	margin: 0 0 1.5em 0;
}

/* @end */

/* @group Speakers (front) */

.speaker {
	float: left;
	width: 10.8em;
	margin: 0 1.2em;
}

/* @end */

/* @group Sponsors */

#sponsors {
	background: #142835 url(../images/bg-prefooter.jpg) 0 0;
	border-top: 2px solid #283946;
}

#sponsors .block {
	clear: left;
}

#sponsors h3.block-title {
	color: #d34913;
	font-size: 2.5em;
}

#sponsors h2 {
	background: #283946 url(../images/sprite-icons-sponsors.png) no-repeat;
	padding: .3em .2em .3em 3em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 7px;
	width: 15em;
	font-size: 1.3em;
	text-shadow: 1px 1px 2px #000;
	clear: left;
}

#sponsors #lonestars {
	background-position: 5px 3px;
	color: #ec9210;
}

#sponsors #longhorns {
	background-position: 5px -24px;
	color: #96c441;
}

#sponsors #armadillos {
	background-position: 5px -49px;
	padding-left: 55px;
	color: #d24813;
}

#sponsors #bats {
	color: #166cac;
	background-position: 9px -74px;
	padding-left: 60px;
}

#sponsors #volunteers {
	background-image: none;
	padding-left: 1em;
}

.logos img {
	float: left;
	margin-right: 4em;
}

.logos a {
	color: #fff;
	font-size: 1.1em;
	margin-right: 1.5em;
}

.logos li {
	float: left;
	list-style: none;
}

.logos ul {
	margin: 0;
	overflow: hidden;
}

.logos li img {
	width: 65px;
	height: 55px;
	margin: 0;
}


/* @end */

/* @group Footer */

#footer-event-location {
	float: left;
	clear: left;
}

#footer-message {
	float: right;
	text-align: right;
}

/* @end */


/* @group Non-Semanted Helpers */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* @end */
