.vote {
  margin-bottom: 10px;
  }
.session-teaser-wrapper .vote {
  margin-bottom: 0;
  }

  .vote .vote-form {
    height: 24px;
    padding: 33px 9px 0px 9px;
    border: 1px solid rgb(204,204,204); /* black 20% */
    background: url(../images/sprite.png) -275px -562px no-repeat;
    }
  .vote img {
    display: block;
    padding: 4px;
    border: 1px solid rgb(204,204,204); /* black 20% */
    }
    
    .vote .description {
      display: none;
    }

.front #quicktabs-1 .grid-3 {
  display: none;
}