/* =====================================
 * Colors
 * -------------------------------------
  
   logo light blue      rgb(204,230,248)   #CCE6F8
   logo med blue        rgb(166,205,237)   #A6CDED
   logo dark blue       rgb(65,110,146)    #416E92
   logo green           rgb(105,169,97)    #69A761

   green (light)        #639B15             Grass
   green (dark)         #456E0C
   
   beige (header)        rgb(224,222,169)   #E0DEA9
   
   brown (light)        rgb(171,154,110)    #AB9A6E
   brown (medium)       rgb(138,108,33)     #8A6C21
   brown (dark)         rgb(73,59,34)       #493B22
   
   black 90%            rgb(26,26,26)
   black 80%            rgb(51,51,51)       body text
   black 70%            rgb(77,77,77)
   black 60%            rgb(102,102,102)    body text (light)
   black 50%            rgb(128,128,128)
   black 40%            rgb(153,153,153)
   black 30%            rgb(179,179,179)
   black 20%            rgb(204,204,204)
   black 10%            rgb(230,230,230)
   black 5%             rgb(242,242,242)

   -------------------------------------
   Help, messages, and warnings
   -------------------------------------
   Help:
     Blue border    -->   blue light
     Blue BG        -->   blue xxlight

   Status, success, OK:
     Green border   -->   green light
     Green BG       -->   green xxlight

   Warning:
     Yellow border  -->   yellow light
     Yellow BG      -->   yellow xxlight

   Error, fail:
     Red border     -->   red light
     Red BG         -->   red xxlight

 * -------------------------------------
 * end Colors
 * ===================================== */



/* =====================================
 * Positioning classes
 * ------------------------------------- */

/**
 * How To Clear Floats Without Structural Markup
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; /* NEW! See http://drupal.org/node/281106#comment-1345134 */
  }
/* IE Mac/Win fixes below */
.clearfix {
  display: inline-block; /* For IE/Mac */
  }
/* Hides from IE/Mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE/Mac */

/* Clear classes */
.clearleft { clear: left; }
.clearright { clear: right; }
.clear { clear: both; }

/* Float classes */
.floatleft { float: left; margin: 0 15px 10px 0 !important; }
.floatright { float: right; margin: 0 0 10px 15px !important; }

/* Alignment classes */
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.aligntop { vertical-align: top; }
.alignmiddle { vertical-align: middle; }
.alignbottom { vertical-align: text-bottom; }

/* Text alignment classes */
.textleft { text-align: left; }
.textright { text-align: right; }
.textcenter, .center { text-align: center; }

/* -------------------------------------
 * end Positioning classes
 * ===================================== */



/* =====================================
 * Typography
 * ------------------------------------- */

body {
  color: rgb(51,51,51); /* black 80%; body text */
  font-size: 10px;
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
  }

a {
  color: rgb(65,110,146);
  text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    }

h2, h3, h4 {
  margin-bottom: 10px;
}

h1 {
  font-size: 2.4em;
  }
h2 {
  font-size: 1.6em;
  }
h3 {
  font-size: 1.3em;
  }

p {
	color: #777777;
}


.text-standard {
  font-size: 1.3em;
  line-height: 1.3em;
  }

#main {
  }

  #main-content p,
  #main-content ul,
  #main-content ol,
  #main-content blockquote {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 1.3em;
    }

/* -------------------------------------
 * end Typography
 * ===================================== */



/* =====================================
 * Global styles
 * ------------------------------------- */

body {
  }

  #page {
    }

    #header-wrapper {
      height: 240px;
      background-color: #E0DFA9;
      }
      #header-container {
        background: url(../images/DCA_header_wrapper_bg.jpg) top center no-repeat;
        height: 240px;
        }

        #logo {
          margin-top: 10px;
          height: 190px; /* Total height: 200px */
          }

        #header {
          height: 200px;
          }

          #header-links {
            float: right;
            height: 20px;
            font-size: 1.1em;
            letter-spacing: .05em;
            margin-top: 10px;
            margin-right: 10px;
            color: rgb(102,102,102); /* black 60%; body text (light) */
            }
          #header-links div {
            float: right;
            height: 20px;
            }
            #header-links-left {
              width: 5px;
              background: transparent url(../images/header-links-left.png) top right no-repeat;
              }
            #header-links-text {
              padding: 4px 5px 0 5px;
              background: transparent url(../images/header-links-bg.png) top right repeat-x;
              }
            #header-links-right {
              width: 5px;
              background: transparent url(../images/header-links-right.png) top left no-repeat;
              }

            #header-links a {
              color: rgb(51,51,51); /* black 80%; body text */
              text-decoration: none;
              }
            #header-links a:hover,
            #header-links a:focus {
              text-decoration: underline;
              }
            #header-links span {
              padding: 0 2px;
              }

          #header-ribbon {
            float: right;
            width: 200px;
            height: 190px;
            padding-top: 10px;
            background: url(../images/header-ribbon-bg.png) top right no-repeat;
            }
            #header-ribbon img {
              display: block;
              margin: 0 auto 5px auto;
              }
            #header-ribbon img.steps {
              margin-bottom: 20px;
              }

    #main-wrapper {
      background: #639B15 url(../images/page-bg.png) top left repeat-x;
      min-height: 600px;
      }

      #main-container {
        background-color: #FFFFFF;
        padding-top: 10px;
        }

        .column {
          margin-bottom: 20px;
        }

        #main {
          }

    #footer-wrapper {
      height: 30px;
      padding-top: 20px;
      background: url(../images/footer-bg.png) top left repeat-x;
      }
      #footer-container {
        }
        #footer-message {
          margin-top: 5px;
          color: white;
          font-size: 1.2em;
          }
         #footer-message a {
          color: #AB9A6E;
          }

/* -------------------------------------
 * end Global styles
 * ===================================== */



/* =====================================
 * Help, messages, and warnings
 * ------------------------------------- */

div.help, div.messages, div.warning {
  min-height: 1em;  /* prevents divs from cutting off the icon (rare) */
  padding: 1em 1em 1em 3em;
  font-size: 1.3em;
  line-height: 1.3em;
  }
  div.help a, div.messages a, div.warning a {
    font-weight: bold;
    }

  /* lists may only appear in help and messages (but not sure) */
  div.help ul, div.messages ul {
    margin-left: 0;
    margin-bottom: 1em;
    }
    div.help ul li, div.messages ul li {
      margin-bottom: .25em;
      }

div.help {
  margin-bottom: 20px;
  padding-bottom: 0;
  background: rgb(209,228,241) url(../images/icon-help.png) 10px 12px no-repeat; /* blue xxlight */ /* TODO: add sprite */
  border: 1px solid rgb(142,189,222); /* blue light */
  }
  div.help a {
    color: rgb(86,156,205); /* blue */
    }
  div.help a:hover, div.help a:focus {
    color: rgb(51,51,51); /* black 80%; body text */
    }
  div.help ul li {
    list-style-image: url(../images/bullet-dot-blue.png);
    }
  div.more-help-link {
    margin-bottom: .5em;
    }

div.messages, div.warning {
  margin-bottom: 10px;
  }

  /* number of messages */
  div.messages-multiple {
    padding-left: 4em;
    padding-bottom: 0;
    }

  /* types of messages */
  div.messages-status {
    background: rgb(213,234,212) url(../images/icon-success.png) 10px 12px no-repeat; /* green xxlight */ /* TODO: add sprite */
    border: 1px solid rgb(153,204,149); /* green light */
    }
    div.messages-status ul li {
      list-style-image: url(../images/bullet-dot-green.png); /* TODO: add sprite */
      }
  div.messages-warning, div.warning {
    background: rgb(248,244,211) url(../images/icon-warning.png) 10px 12px no-repeat; /* yellow xxlight */
    border: 1px solid rgb(238,228,146); /* yellow light */
    }
    div.messages-warning ul li {
      list-style-image: url(../images/bullet-dot-yellow.png); /* TODO: add sprite */
      }
  div.messages-error {
    background: rgb(235,194,194) url(../images/icon-error.png) 10px 12px no-repeat; /* red xxlight */ /* TODO: add sprite */
    border: 1px solid rgb(205,105,105); /* red light */
    }
    div.messages-error ul li {
      list-style-image: url(../images/bullet-dot-red.png); /* TODO: add sprite */
      }
    div.messages-error a {
      color: rgb(180,30,30); /* red */
      }
    div.messages-error a:hover, div.messages-error a:focus {
      color: rgb(51,51,51); /* black 80%; body text */
      }

/* Appears at bottom of forms */
div.warning {
  margin-top: 20px;
  }

/* Asterisk */
span.warning {
  margin-left: .5em;
  color: rgb(227,144,27); /* orange */
  }
div.warning span.warning {
  display: none; /* hide asterisk inside warning div (redundant) */
  }

/* Changed draggable rows (usually constains <span class="warning">) */
tr.drag-previous {
  background: rgb(248,244,211); /* yellow xxlight */
  }

/* -------------------------------------
 * end Help, messages, and warnings
 * ===================================== */



/* =====================================
 * Tabs
 * ------------------------------------- */

.tabs {
  margin: 10px 0;
  }

  ul.primary, /* Also ul.tabs */
  ul.secondary {
    margin: 5px 0;
    padding: 0 5px;
    border: none;
    }
    ul.primary li,
    ul.secondary li {
      float: left;
      }
      ul.primary li a,
      ul.secondary li a {
        float: left;
        margin: 0 5px 5px 0;
        padding: 2px 6px;
        border: none;
        background: #E0DEA9;
        color: #8A6C21;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .05em;
        line-height: 1.5em;
        }
      ul.primary li a:hover,
      ul.primary li a:focus,
      ul.secondary li a:hover,
      ul.secondary li a:focus {
        background-color: #AB9A6E;
        color: #FFFFFF;
        }
    ul.primary li.active,
    ul.secondary li.active {
      }
      ul.primary li.active a,
      ul.secondary li.active a {
        color: #FFFFFF;
        background: #8A6C21;
        border: none;
        }

  ul.primary { /* Also ul.tabs */
    padding-top: 5px;
    background: url(../images/sponsor-bg.png) top left;
    }

  ul.secondary { /* Also ul.tabs */
    }
    ul.secondary li {
      border: none;
      padding: 0;
      }
      ul.secondary li a {
        }
      ul.secondary li a:hover,
      ul.secondary li a:focus {
        }
    ul.secondary li.active {
      }
      ul.secondary li.active a {
        }

/* -------------------------------------
 * end Tabs
 * ===================================== */



/* =====================================
 * Primary/secondary links
 * ------------------------------------- */

#primary-wrapper {
  background-color: #456E0C;
}

  #primary-container {
  margin: 0 auto;
  text-align: center;
  }
  #primary-container ul.links li {
    padding: 10px 0;
    background: transparent url(../images/nav-tab.png) top left no-repeat;
    margin-right: 5px;
    width: 150px;
    float: left;
    }
    #primary-container ul.links li.active {
      background: transparent url(../images/nav-tab-active.png) top left no-repeat;
      }

    #primary-container ul.links li.first {
      margin-left: 20px;
      }

    #primary-container ul.links a {
      color: #777777;
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: bold;
      padding-left: 15px;
      }
    #primary-container ul.links a:hover {
      color: #456E0C;
      text-decoration: none;
      }


/*End Primary Menu Styling*/


/* -------------------------------------
 * end Primary/secondary links
 * ===================================== */



/* =====================================
 * Forms
 * ------------------------------------- */

fieldset {
  border: 2px solid #E0DEA9;
  padding: 10px;
  margin-bottom: 20px;
  }
  legend {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 1.3em;
    font-weight: bold;
    color: #8A6C21
    }

label {
	margin-bottom: 4px;
	color: #639B15;
  font-size: 1.3em;
  }

input,
textarea {
  padding: 2px 6px;
  border: 2px solid #A6CDED;
  background: #CCE6F8;
  color: #416E92;
  font-weight: bold;
  }
input:focus {
  border-color: #416E92;
  }

  input.form-text,
  textarea {
    font-size: 1.6em;
    }
  input.form-submit {
    font-size: 1.4em;
    cursor: pointer;
    }
  input.form-submit:hover {
    border-color: #416E92;
    }

div.form-item {
  margin: 0 0 10px 0;
  }
  div.form-item div.form-item {
    margin-bottom: 5px;
    }

div.description {
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.25em;
  color: #8A6C21;
  }
  div.form-item div.description {
    margin: 2px 0 0 0;
    font-size: 1.1em;
    line-height: 1.25em;
    }

  div.password-description {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.25em;
    color: rgb(51,51,51); /* black 80%; body text */
    background: rgb(235,194,194) url(../images/icon-error.png) 8px 10px no-repeat; /* red xxlight */ /* TODO: add sprite */
    font-weight: bold;
    }
  div.password-description.error {
    width: 356px;
    margin: 10px 0;
    padding: 10px 10px 10px 30px;
    border: 2px solid rgb(205,105,105);
    }
    #main-content div.password-description ul {
      font-size: 1em;
      line-height: 1.25em;
      margin: 0 0 0 20px;
      }

  span.password-strength,
  span.password-confirm {
    font-size: 1.1em;
    color: #8A6C21;
    }

div.form-checkboxes {
  margin: 10px 0;
  }
  div.form-checkboxes div.form-item {
    }
    div.form-checkboxes div.form-item label.option {
    	color: #416E92;
      font-weight: bold;
      }

form#user-register {
  }
  div#edit-name-wrapper input,
  div#edit-mail-wrapper input {
    width: 384px;
    }
  div#edit-name-wrapper div.description,
  div#edit-mail-wrapper div.description {
    width: 400px;
    }
  div#edit-pass-wrapper input {
    width: 200px;
    }

div.node-form {
  }
  div.node-form input.form-text {
    width: 384px;
    }
  div.node-form fieldset.group-links input.form-text {
    width: 240px;
    }
  div.node-form textarea#edit-body {
    width: 564px; /* total: 580px */
    }

div.maxlength-counter {
  font-size: 1.3em;
  text-align: right;
  }

div.wysiwyg {
  margin: 10px 0;
  }
  div.wysiwyg ul {
    }
    div.wysiwyg ul li {
      margin-bottom: .25em;
      }

div.link-field-subrow {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E0DEA9;
  }

/* -------------------------------------
 * end Forms
 * ===================================== */



/* =====================================
 * Sidebars
 * ------------------------------------- */

/* Also applies to front page panel */
#sidebar-2 {
  background: url(../images/sponsor-bg.png) top left;
  }
  #sidebar-2 h2 {
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    background: #E0DEA9;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #8A6C21;
    }
  #sidebar-2 img {
    display: block;
    margin: 0 auto 5px auto;
    }

/* =====================================
 * End Sidebars
 * ------------------------------------- */



/* =====================================
 * Blocks
 * ------------------------------------- */

.block p {
  margin-bottom: 1.3em;
  }
  
  .block .content h2 {
    color: #333;
    font-size: 1.4em;
    }
  
  #sidebar-1 .block {
    margin-bottom: 10px;
    }
    
  

/* =====================================
 * End Blocks
 * ------------------------------------- */



/* =====================================
 * Views
 * ------------------------------------- */

.views-field-title {
  font-size: 1.6em;
  margin-bottom: 5px;
  }
  .views-field-title a {
    font-weight: bold;
    text-decoration: none;
    }
  .views-field-title a:hover {
    text-decoration: underline;
    }

.views-field-created {
  font-size: 1.3em;
  font-style: italic;
  }


/* =====================================
 * End Views
 * ------------------------------------- */



/* =====================================
 * Panels
 * ------------------------------------- */

.panel-panel {
  }
  .panel-pane {
    }
    .panel-pane ul {
      list-style-type: disc;
      list-style-position: inside;
      }

h2.block-title,
h2.pane-title,
#who-what-where h2 {
  color: rgb(105,169,97);
  font-weight: bold;
  text-transform: uppercase;
  }

/* Panel Front Top */
#panel-front-top {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  }

/* Panel Front Bottom */
#panel-front-bottom {
  }
  #sidebar-0 .panel-pane,
  #sidebar-1 .panel-pane {
    margin-bottom: 20px;
    }

/* Who? What? Where? block */
#who-what-where {
  }
  #who-what-where p {
    margin-bottom: 0;
    }

  #who, #what, #where {
    float: left;
    width: 180px;
    margin-right: 20px;
    }
    #where {
      margin-right: 0;
      }

#news-front {
  background: #eeeeee;
  -moz-border-radius: 5px;
  border-bottom: 1px solid #eeeeee;
  background-repeat: none;
  padding: 15px;
  }
  #news-front h2 {
    font-size: 1.4em;
    }

#twitter-front {
  background: #BCD7F1;
  -moz-border-radius: 5px;
  border-bottom: 1px solid #eeeeee;
  background-repeat: none;
  padding: 15px;
  }
  #twitter-front h2 {
    font-size: 1.4em;
    }

/* =====================================
 * end Panels
 * ------------------------------------- */



/* =====================================
 * User and sponsor profiles
 * ------------------------------------- */
 
.profile-sponsor {
  }

  .profile-sponsor .header {
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgb(102,102,102);
    border-top: 1px solid rgb(204,204,204);
    border-bottom: 1px solid rgb(204,204,204);
    }

  #main-content .profile-sponsor .item-list ul {
    font-size: 1.2em;
    line-height: 1.2em;
    }

    .profile-sponsor .item-list ul li {
      list-style: none;
      margin: 1px 0 0 0;
      }
      .profile-sponsor .item-list ul li a {
        display: block;
        background: rgb(242,242,242);
        padding: 3px 5px 3px 20px;
        text-decoration: none;
        }
      .profile-sponsor .item-list ul li a:hover {
        background: rgb(230,230,230);
        }

  .profile-sponsor .link-columns .item-list ul {
    float: left;
    }
    .profile-sponsor .link-columns .item-list ul li {
      float: left;
      width: 195px;
      }
    .profile-sponsor .link-columns .item-list ul li.odd {
      margin-right: 5px;
      }
    .profile-sponsor .link-columns .item-list ul li.even {
      margin-left: 5px;
      }

  .profile-sponsor .picture {
    }
    .profile-sponsor .picture img {
      display: block;
      padding: 4px;
      border: 1px solid rgb(204,204,204);
      }

  .profile-wrapper {
    margin-bottom: 20px;
    }

/* =====================================
 * end User and sponsor profiles
 * ------------------------------------- */



/* =====================================
 * Contact form
 * ------------------------------------- */
 
 #contact-form-info {
   }

/* =====================================
 * end Contact form
 * ------------------------------------- */
