/* =====================================
 * Colors
 * -------------------------------------
   
   blue                 #406f93
   lightblue            #e0f4ff
   green                #526e54
                      
   TAN:               
   lightest             #f3f1e5
   medium               #e0dbc3
   dark                 #989480
   darkest              #737061
     
   black 90%            rgb(26,26,26)
   black 80%            rgb(51,51,51)       body text
   black 70%            rgb(77,77,77)
   black 60%            rgb(102,102,102)    body text (light)
   black 50%            rgb(128,128,128)

   -------------------------------------
   Help, messages, and warnings
   -------------------------------------
   Help:
     Blue border    -->   blue light
     Blue BG        -->   blue xxlight

   Status, success, OK:
     Green border   -->   green light
     Green BG       -->   green xxlight

   Warning:
     Yellow border  -->   yellow light
     Yellow BG      -->   yellow xxlight

   Error, fail:
     Red border     -->   red light
     Red BG         -->   red xxlight

 * -------------------------------------
 * end Colors
 * ===================================== */


/* =====================================
 * Positioning classes
 * ------------------------------------- */

/**
 * How To Clear Floats Without Structural Markup
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; /* NEW! See http://drupal.org/node/281106#comment-1345134 */
  }
/* IE Mac/Win fixes below */
.clearfix {
  display: inline-block; /* For IE/Mac */
  }
/* Hides from IE/Mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE/Mac */

/* Clear classes */
.clearleft { clear: left; }
.clearright { clear: right; }
.clear { clear: both; }

/* Float classes */
.floatleft { float: left; margin: 0 15px 10px 0 !important; }
.floatright { float: right; margin: 0 0 10px 15px !important; }

/* Alignment classes */
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.aligntop { vertical-align: top; }
.alignmiddle { vertical-align: middle; }
.alignbottom { vertical-align: text-bottom; }

/* Text alignment classes */
.textleft { text-align: left; }
.textright { text-align: right; }
.textcenter, .center { text-align: center; }

/* -------------------------------------
 * end Positioning classes
 * ===================================== */


/* =====================================
 * Typography
 * ------------------------------------- */

@font-face {
	font-family: 'LeagueGothic';
	src: url('../fonts/League_Gothic-webfont.eot');
	src: local('☺'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/League_Gothic-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/Chunkfive-webfont.eot');
	src: local('☺'), url('../fonts/Chunkfive-webfont.woff') format('woff'), url('../fonts/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/Chunkfive-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.b, .strong {
  font-weight: bold;
  }

body {
  color: rgb(51,51,51); /* black 80%; body text */
  font-size: 62.5%;
  font-family: Georgia, Times, serif;
  }

a {
  color: #526e54;
  text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
    }

h1 {
  font-family: 'LeagueGothic';
  font-size: 2.1em;
  color: #526e54;
  line-height: 1.286em;
  font-weight: normal;
  }
h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-family: "Tahoma", sans-serif;
  }
h2 {
  font-size: 1.7em;
  line-height: 1.235em;
  color: #406f93;
  }
  h2 a {
    color: #406f93;
    }
h3 {
  font-size: 1.5em;
  line-height: 1.118em;
  color: #526e54;
  }
h4 {
  font-size: 1.4em;
  line-height: 1.214em;
  color: #406f93;
  }

h1#page-title {
  background: #ffffff none repeat scroll 0 0;
  color: #737061;
  font-size: 3em;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  }

.text-standard {
  font-size: 1.3em;
  line-height: 1.308em;
  }

#main {
  }

  #main-content p,
  #main-content ul,
  #main-content ol,
  #main-content blockquote,
  #main-content table, 
  #main-content dl {
    font-size: 1.3em;
    line-height: 1.308em;
    margin-bottom: 1.3em;
    }
  #main-content ul ul,
  #main-content ol ol,
  #main-content ul ol,
  #main-content ol ul, 
  #main-content dl dt, 
  #main-content dl dd {
    font-size: 1em;
    margin-bottom: 0;
    }
  #main-content table p,
  #main-content table ul,
  #main-content table ol,
  #main-content table blockquote, 
  #main-content table input {
    font-size: 1em;
    }
    
    #main-content dl dd {
      margin-bottom: 0.5em;
    }

/* -------------------------------------
 * end Typography
 * ===================================== */


/* =====================================
 * Tables
 * ------------------------------------- */

#main-content table {
  font-size: 1em;
  }
  #main-content table tr {
    }
    #main-content table td {
      padding: 5px;
      }

/* -------------------------------------
 * end Tables
 * ===================================== */


/* =====================================
 * Global styles
 * ------------------------------------- */

body {
  background: #e0f4ff url(../images/site-bg.jpg) bottom center no-repeat;
  }

  #page {}

    #header-wrapper {}
      #header-container {
        background: url(../images/bg-header.png) top center no-repeat;
        height: 330px;
        position: relative;
        }

        #logo {
          height: 148px;
          width: 426px;
          background: url(../images/sprite.png) 0px 0px no-repeat;
          position: absolute;
          text-indent: -99999em;
          top: 65px;
          left: 10px;
          }

        #header {
          height: 200px;
          }

          #header-links {
            float: right;
            letter-spacing: .05em;
            font-size: 1.1em;
            margin-right: 5px;
            }
         
            #header-links-text {}
            #header-links-left {
              width: 5px;
              background: transparent url(../images/header-links-left.png) top right no-repeat;
              }
            #header-links-right {
              width: 5px;
              background: transparent url(../images/header-links-right.png) top left no-repeat;
              }

            #header-links a {
              color: rgb(65,110,146); /* black 80%; body text */
              text-decoration: none;
              font-weight: bold;
              }
            #header-links a:hover,
            #header-links a:focus {
              text-decoration: underline;
              }
            #header-links span {
              padding: 0 2px;
              }
              
              #header-links-text a {
                color: #dbdbdb;
                font-family: "Tahoma", sans-serif;
                text-transform: uppercase;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                padding: 2px 10px;
                font-weight: normal;
                background-color: #676767;
                margin-right: 5px;
                line-height: 1.8em;
              }

          #header-ribbon {
            float: right;
            width: 200px;
            height: 190px;
            padding-top: 10px;
            background: url(../images/header-ribbon-bg.png) top right no-repeat;
            }
            #header-ribbon img {
              display: block;
              margin: 0 auto 5px auto;
              }
            #header-ribbon img.steps {
              margin-bottom: 20px;
              }

    #main-wrapper {
      min-height: 600px;
      }

      #main-container {
        background: url(../images/bg-main.jpg) top left repeat;
        padding-top: 10px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        }

        .column {
          margin-bottom: 20px;
        }

        #main {
          }
        
        .not-front #main-content {
          background: #fff;
          padding: 10px;
        }
          
        .panels-row.grid-5 {
          width: 390px;
        }

    #footer-wrapper {
      padding-top: 25px;
      height: 90px;
      }

/* -------------------------------------
 * end Global styles
 * ===================================== */


/* =====================================
 * Primary/secondary links
 * ------------------------------------- */

#primary-wrapper {
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg-primary.jpg) top left repeat;
  height: 28px;
  padding-top: 8px;
  margin-bottom: 12px;
  box-shadow: 0px 2px 2px #000;
  -moz-box-shadow: 0px 2px 2px #000;
  -webkit-box-shadow: 0px 2px 2px #000;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  }

  #primary-menu {
    font-family: 'LeagueGothic';
    letter-spacing: 0.1em;
  }
  #primary-menu ul.links {
  }
  
  #primary-menu ul.links li {        
    margin-right: 2px;
    float: left;
    }
    #primary-menu ul.links li.active {
      color: #e0f4ff;
      border-bottom: 2px #e0f4ff solid;
      }

    #primary-menu ul.links li.first {
      margin-left: 20px;
      }

    #primary-menu ul.links a {
      color: #efefef;
      font-size: 2.1em;
      text-transform: uppercase;
      padding: 5px 10px;
      text-decoration: none;
      }
    #primary-menu ul.links a:hover {
      color: #e0f4ff;
      text-decoration: none;
      }


#secondary-wrapper {
  font-size: 1.4em;
  font-weight: bold;
  margin: 5px 0 10px 0;
  }
  #secondary-links ul.links {}    
      #secondary-links ul.links li {
        padding: 2px 5px;
        }
        #secondary-links ul.links li.active {
          background-color: #526e54;
          }
        #secondary-links ul.links li a.active {
          color: white;
          }
 

/* -------------------------------------
 * end Primary/secondary links
 * ===================================== */


/* =====================================
 * Footer links
 * ------------------------------------- */
 
#footer-wrapper { 
  color: #ffffff;
  font-size: 1.1em;
  }
  #footer-wrapper a {
    color: #fae3b4;
    }

#footer-message {
  float: left;
  }

#footer-menu {
  float: right;
  }
  #footer-menu ul {
    text-align: right;
    }
    #footer-menu ul li {
      display: inline;
      margin-left: 10px;
      }

  
 /* -------------------------------------
 * end Footer links
 * ===================================== */


/* =====================================
 * Help, messages, and warnings
 * ------------------------------------- */

div.help, div.messages, div.warning {
  min-height: 1em;  /* prevents divs from cutting off the icon (rare) */
  padding: 1em 1em 1em 3em;
  font-size: 1.3em;
  line-height: 1.3em;
  }
  div.help a, div.messages a, div.warning a {
    font-weight: bold;
    }

  /* lists may only appear in help and messages (but not sure) */
  div.help ul, div.messages ul {
    margin-left: 0;
    margin-bottom: 1em;
    }
    div.help ul li, div.messages ul li {
      margin-bottom: .25em;
      }

div.help {
  margin-bottom: 20px;
  padding-bottom: 0;
  background: rgb(209,228,241) url(../images/icon-help.png) 10px 12px no-repeat; /* blue xxlight */ /* TODO: add sprite */
  border: 1px solid rgb(142,189,222); /* blue light */
  }
  div.help a {
    color: rgb(86,156,205); /* blue */
    }
  div.help a:hover, div.help a:focus {
    color: rgb(51,51,51); /* black 80%; body text */
    }
  div.help ul li {
    list-style-image: url(../images/bullet-dot-blue.png);
    }
  div.more-help-link {
    margin-bottom: .5em;
    }

div.messages, div.warning {
  margin-bottom: 10px;
  }

  /* number of messages */
  div.messages-multiple {
    padding-left: 4em;
    padding-bottom: 0;
    }

  /* types of messages */
  div.messages-status {
    background: rgb(213,234,212) url(../images/icon-success.png) 10px 12px no-repeat; /* green xxlight */ /* TODO: add sprite */
    border: 1px solid rgb(153,204,149); /* green light */
    }
    div.messages-status ul li {
      list-style-image: url(../images/bullet-dot-green.png); /* TODO: add sprite */
      }
  div.messages-warning, div.warning {
    background: rgb(248,244,211) url(../images/icon-warning.png) 10px 12px no-repeat; /* yellow xxlight */
    border: 1px solid rgb(238,228,146); /* yellow light */
    }
    div.messages-warning ul li {
      list-style-image: url(../images/bullet-dot-yellow.png); /* TODO: add sprite */
      }
  div.messages-error {
    background: rgb(235,194,194) url(../images/icon-error.png) 10px 12px no-repeat; /* red xxlight */ /* TODO: add sprite */
    border: 1px solid rgb(205,105,105); /* red light */
    }
    div.messages-error ul li {
      list-style-image: url(../images/bullet-dot-red.png); /* TODO: add sprite */
      }
    div.messages-error a {
      color: rgb(180,30,30); /* red */
      }
    div.messages-error a:hover, div.messages-error a:focus {
      color: rgb(51,51,51); /* black 80%; body text */
      }

/* Appears at bottom of forms */
div.warning {
  margin-top: 20px;
  }

/* Asterisk */
span.warning {
  margin-left: .5em;
  color: rgb(227,144,27); /* orange */
  }
div.warning span.warning {
  display: none; /* hide asterisk inside warning div (redundant) */
  }

/* Changed draggable rows (usually constains <span class="warning">) */
tr.drag-previous {
  background: rgb(248,244,211); /* yellow xxlight */
  }

/* -------------------------------------
 * end Help, messages, and warnings
 * ===================================== */


/* =====================================
 * Tabs
 * ------------------------------------- */

.tabs {
  margin: 10px 0;
  }

  ul.primary, /* Also ul.tabs */
  ul.secondary {
    margin: 5px 0;
    padding: 0 5px;
    border: none;
    }
    ul.primary li,
    ul.secondary li {
      float: left;
      }
      ul.primary li a,
      ul.secondary li a {
        float: left;
        margin: 0 5px 5px 0;
        padding: 2px 6px;
        border: none;
        background: #f3f1e5;
        color: #737061;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .05em;
        line-height: 1.5em;
        }
      ul.primary li a:hover,
      ul.primary li a:focus,
      ul.secondary li a:hover,
      ul.secondary li a:focus {
        background-color: #e0dbc3;
        color: #FFFFFF;
        }
    ul.primary li.active,
    ul.secondary li.active {
      }
      ul.primary li.active a,
      ul.secondary li.active a {
        color: #FFFFFF;
        background: #737061;
        border: none;
        }

  ul.primary { /* Also ul.tabs */
    padding-top: 5px;
    background: url(../images/sponsor-bg.png) top left;
    }

  ul.secondary { /* Also ul.tabs */
    }
    ul.secondary li {
      border: none;
      padding: 0;
      }
      ul.secondary li a {
        }
      ul.secondary li a:hover,
      ul.secondary li a:focus {
        }
    ul.secondary li.active {
      }
      ul.secondary li.active a {
        }

/* -------------------------------------
 * end Tabs
 * ===================================== */


/* =====================================
 * Forms
 * ------------------------------------- */

fieldset {
  border: 2px solid #f3f1e5;
  padding: 10px;
  margin-bottom: 20px;
  }
  legend {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 1.3em;
    font-weight: bold;
    color: #737061
    }

label {
	margin-bottom: 4px;
	color: #526e54;
  font-size: 1.3em;
  }

input,
textarea {
  padding: 4px 6px;
  border: 2px solid #989480;
  background: #f3f1e5;
  color: #2b2b2b;
  }
input:focus,
textarea:focus {
  border-color: #989480;
  }

input {
  font-weight: bold;
  }
  input.form-text {
    font-size: 1.6em;
    }
  input.form-submit {
    font-size: 1.4em;
    cursor: pointer;
    }
  input.form-submit:hover {
    border-color: #737061;
    }

textarea {
  font-size: 1.4em;
  font-family: Georgia, serif;
  }
  textarea#edit-body,
  textarea#edit-teaser-js,
  textarea#edit-comment {
    width: 544px;
    }
  textarea#edit-comment {
    height: 100px;
    }

div.teaser-checkbox {
  }
  div.teaser-button-wrapper {
    padding: 0;
    }
div#edit-body-wrapper {
  margin-top: 10px;
  }

div.form-item {
  margin: 0 0 10px 0;
  }
  div.form-item div.form-item {
    margin-bottom: 5px;
    }

div.description {
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.25em;
  color: #737061;
  }
  div.form-item div.description {
    margin: 2px 0 0 0;
    font-size: 1.1em;
    line-height: 1.25em;
    }

  div.password-description {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.25em;
    color: rgb(51,51,51); /* black 80%; body text */
    background: rgb(235,194,194) url(../images/icon-error.png) 8px 10px no-repeat; /* red xxlight */ /* TODO: add sprite */
    font-weight: bold;
    }
  div.password-description.error {
    width: 356px;
    margin: 10px 0;
    padding: 10px 10px 10px 30px;
    border: 2px solid rgb(205,105,105);
    }
    #main-content div.password-description ul {
      font-size: 1em;
      line-height: 1.25em;
      margin: 0 0 0 20px;
      }

  span.password-strength,
  span.password-confirm {
    font-size: 1.1em;
    color: #737061;
    }

div.form-checkboxes {
  margin: 10px 0;
  }
  div.form-checkboxes div.form-item {
    }
    div.form-checkboxes div.form-item label.option {
    	color: #416E92;
      font-weight: bold;
      }

form#user-register {
  }
  div#edit-name-wrapper input,
  div#edit-mail-wrapper input,
  div#edit-subject-wrapper input {
    width: 384px;
    }
  div#edit-name-wrapper div.description,
  div#edit-mail-wrapper div.description {
    width: 400px;
    }
  div#edit-pass-wrapper input {
    width: 200px;
    }

div.node-form {
  }
  div.node-form input.form-text {
    width: 384px;
    }
  div.node-form fieldset.group-links input.form-text {
    width: 240px;
    }

div.maxlength-counter {
  font-size: 1.3em;
  text-align: right;
  }

div.link-field-subrow {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f1e5;
  }

#main-content ul.tips,
#main-content .content ul.tips {
  list-style-type: disc;
  list-style-position: outside;
  font-size: 1.1em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 40px;
  }

/* -------------------------------------
 * end Forms
 * ===================================== */



/* =====================================
 * Blocks
 * ------------------------------------- */

#recommended {
  background-color: #f3f1e5;
  padding: 10px;
  -moz-border-radius: 5px;
  margin-bottom: 10px;
  }
  #recommended a {
    color: #737061;
    font-size: .9em;
    font-weight: lighter;
    }

#refreshments {
  background: rgb(166,205,237);
  -moz-border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  }
  #refreshments p {
    color: #333333;
    font-size: 1.3em;
    }

/* -------------------------------------
 * End Blocks
 * ===================================== */



/* =====================================
 * Sidebars
 * ------------------------------------- */

#sidebar-left {
  width: 190px;
  }
  #sidebar-left .block {
    margin-bottom: 10px;
    }
    #sidebar-left .block .content {
/*
      background-color: #f3f1e5;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
*/
    }
  
  #sidebar-left p,
  #sidebar-left ul,
  #sidebar-left ol {
    font-size: 1.2em;
    line-height: 1.2em;
    }
  #sidebar-left p {
    margin-bottom: .6em;
    }
  #sidebar-left ul ul,
  #sidebar-left ol ol,
  #sidebar-left ul ol,
  #sidebar-left ol ul {
    font-size: 1em;
    margin-bottom: 0;
    }

  #sidebar-left .block ul { /* specificity required to undo system style */
    padding: 0;
    }
  #sidebar-left ul,
  #sidebar-left ol {
    padding: 0;
    }
    #sidebar-left ul li {
      list-style: none;
      margin: 1px 0 0 0;
      padding: 0;
      }
      #sidebar-left ul.menu li a {
        display: block;
        padding: 4px 5px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        }
      #sidebar-left ul.menu li a:hover {
        background: #fff;
        text-decoration: underline;
        }

  #sidebar-left .item-list ul {
    }
    #sidebar-left .item-list ul li {
      padding: 4px 5px;
      }

    /* Undo some .item-list styline for links-only lists */
    #block-views-news-block_1 .item-list ul li {
      background: none;
      padding: 0;
      }

/* Twitter block */    

  .twitter, 
  .facebook {
    display: block;
    overflow: hidden;
    text-indent: -9999em;
    height: 57px;
    width: 194px;
    background: url(../images/sprite.png) no-repeat; 
    }
    .twitter {
      background-position: -194px -149px;
      }
      .facebook {
        background-position: 0px -149px;
      }
      .bottom-left .facebook {
        float: left;
        margin-right: 2px;
      }
  
/* Also applies to front page panel */
#sidebar-right {
  width: 150px;
  }
  #sidebar-right h2 {
    font-family: 'LeagueGothic';
    margin: 0px;
    padding: 5px;
    font-size: 2em;
    background: #e0dbc3;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .05em;
    color: #b3ad92;
    font-weight: normal;
    border-bottom: 1px solid #b9b59c;
    }
  #sidebar-right img {
    display: block;
    margin: 0 auto 5px auto;
    }

/* -------------------------------------
 * End Sidebars
 * ===================================== */



/* =====================================
 * Nodes
 * ------------------------------------- */

#main-content .content h2 {
  color: #737061;
  font-size: 2em;
  }

#main-content .content h3 {
  color: #69A961;
  font-size: 1.5em;
  }

#main-content .submitted {
  margin-bottom: 5px;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #5d5945;
  }

#main-content .content ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
  }

#main-content div.links ul.links {
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 1em;
  }

ul.links li {
  margin-right: 10px;
  padding: 0;
  }
ul.links li.last {
  margin-right: 0;
  }
  ul.links li a {
    }

/* -------------------------------------
 * End Nodes
 * ===================================== */


/* =====================================
 * Views
 * ------------------------------------- */

.node-list {
  border-bottom: 1px solid #bdb9a5; 
  margin-bottom: 20px;
  padding-bottom: 20px;
  }

#main-content .views-row {
  margin-bottom: 20px;
  }
  #main-content #sidebar-left .panel-pane .views-row,
  #main-content #sidebar-right .panel-pane .views-row {
    margin-bottom: 0; /* Undo this for views and blocks in front-page sidebars */
    }

/* Photo mosaic of all registered users */
.view-users-registered {
  }

  /* undo default sizing of tables in #main-content */
  #main-content .view-users-registered table {
    font-size: 1em;
    line-height: normal;
    }
    #main-content .view-users-registered table tbody tr td {
      padding: 0 0 10px 0;
      }

  .view-users-registered table {
    width: 100%;
    }
    .view-users-registered table tbody tr td {
      width: 20%;
      }
      .view-users-registered .picture,
      .view-users-registered .profile-link {
        margin: 0 auto;
        width: 110px;
        }
      .view-users-registered .picture {
        }
        .view-users-registered .picture img {
          display: block;
          padding: 4px;
          border: 1px solid rgb(204,204,204); /* black 20% */
          }
      .view-users-registered .profile-link {
        }
        .view-users-registered .profile-link a {
          display: block;
          background: rgb(242,242,242); /* black 5% */
          padding: 3px 5px;
          text-decoration: none;
          font-size: 1.2em;
          line-height: 1.2em;
          }
        .view-users-registered .profile-link a:hover {
          background: rgb(230,230,230); /* black 10% */
          }

/* Session list */
#main-content .view-sessions .views-row {
  margin-bottom: 10px;
  }

.session-teaser-wrapper {
  }
  .session-teaser-wrapper .picture {
    width: 60px;
    float: left;
    }
  .session-teaser-wrapper .info {
    margin-left: 70px;
    }
    .session-teaser-wrapper .info h2 {
      margin-bottom: 5px;
      }
    #main-content .session-teaser-wrapper .submitted {
      border: none;
      margin-bottom: 0;
      }

/* -------------------------------------
 * End Views
 * ===================================== */



/* =====================================
 * Panels
 * ------------------------------------- */

.panel-panel {
  }
  .panel-pane {
    }
    .panel-pane ul {
      list-style-type: disc;
      list-style-position: inside;
      }
      .pane-block {
        margin-bottom: 10px;
      }

h2.block-title,
h2.pane-title,
#who-what-where h2 {
  text-transform: uppercase;
  }

/* Panel Front Top */
#panel-front-top {
  margin-bottom: 10px;
  }

/* Panel Front Bottom */
#panel-front-bottom {
  }
  #sidebar-left .panel-pane {
    margin-bottom: 20px;
    }

/* Who? What? Where? block */
#who-what-where {
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  background-color: #f3f1e5;
  }
  #who-what-where p {
    margin-bottom: 0;
    font-family: "Tahoma", sans-serif;
    font-size: 1.5em;
    line-height: 1.267em;
    margin-right: 15px;
    }

  #who, #what, #where {
    overflow: hidden;
    width: 370px;
    height: 116px;
    background: url(../images/sprite.png) no-repeat;
    margin-bottom: 10px;
    color: #fff;
    text-align: right;
    text-shadow: #000 2px 2px 2px;
    }
    #who {
      background-position: 0px -206px;
      }
      #what {
        background-position: 0px -322px;
        }
        #where {
          background-position: 0px -438px;
          }
          #who h2, 
          #what h2,
          #where h2 {
            visibility: hidden;
          }
          
  #who-what-where .register {
    width: 250px;
    height: 46px;
    display: block;
    margin: 0px auto 10px auto;
    overflow: hidden;
    text-indent: -9999em;
    background: url(../images/sprite.png) 0px -553px no-repeat;
  }
  
  .view-twitter-drupalatx {
    font-family: "Tahoma", sans-serif;
  }
    .view-twitter-drupalatx a {
      color: #1477b8;
      text-decoration: none;
    }
  .bottom-right .view-twitter-drupalatx ul li {
    list-style: none;
    padding-bottom: 10px;
    margin: 0px 25px 0px 0px;
  }
  #main-content .bottom-right .views-row {
    margin-bottom: 10px;
  } 
  .bottom-right .view-twitter-drupalatx li.views-row {
    background: white; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  
  .bottom-right .view-twitter-drupalatx li.views-row .field-content {
    background: url(../images/icon-twitter.png) bottom right no-repeat;
    display: block;
    padding:0 40px 10px 0;
    position:relative;
    right: -10px;
    top: 10px;
    width: 330px;
    min-height: 45px;
  }


/* -------------------------------------
 * end Panels
 * ===================================== */



/* =====================================
 * Profile, sponsor, and session styles
 * ------------------------------------- */
 
.profile-style {
  }

  .profile-style .header {
    border-top: 1px solid rgb(204,204,204); /* black 20% */
    border-bottom: 1px solid rgb(204,204,204); /* black 20% */
    font-size: 1.1em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgb(102,102,102); /* black 60%; body text (light) */
    }
  .profile-style .header-text {
    margin-bottom: 5px;
    }

  #main-content .profile-style .item-list ul {
    font-size: 1.2em;
    line-height: 1.2em;
    }

    .profile-style .item-list ul li {
      list-style: none;
      margin: 1px 0 0 0;
      padding-left: 0;
      }
      .profile-style .item-list ul li a {
        display: block;
        background: rgb(242,242,242); /* black 5% */
        padding: 3px 5px;
        text-decoration: none;
        }
      .profile-style .item-list ul li a:hover {
        background: rgb(230,230,230); /* black 10% */
        }

  .profile-style .link-columns .item-list ul {
    float: left;
    }
    .profile-style .link-columns .item-list ul li {
      float: left;
      }
    .profile-style .link-columns .item-list ul li.odd {
      width: 199px;
      margin-right: 1px;
      }
    .profile-style .link-columns .item-list ul li.even {
      width: 200px;
      }

  .profile-style .picture {
    }
    .profile-style .picture img {
      display: block;
      padding: 4px;
      border: 1px solid rgb(204,204,204); /* black 20% */
      }

  .profile-wrapper {
    margin-bottom: 20px;
    }

/* -------------------------------------
 * end Profile, sponsor, and session
 * ===================================== */



/* =====================================
 * Comments
 * ------------------------------------- */

#comments,
#comment-form-wrapper {
  margin-top: 20px;
  }

  h2#comments-title,
  h3#comment-form-title {
    font-size: 2.4em;
    color: rgb(204,204,204);
    }
  h2#comments-title {
    margin-bottom: 20px;
    }

  .comment {
    margin-bottom: 20px;
    }

    .comment .picture {
      float: left;
      width: 60px;
      }
      .comment .picture img {
        display: block;
        padding: 4px;
        border: 1px solid rgb(204,204,204); /* black 20% */
        }

    .comment .submitted {
      }
      .comment .submitted .new {
        float: right;
        font-size: 1.1em;
        color: red;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .05em;
        }

    .comment .submitted,
    .comment .content,
    .comment div.links {
        margin-left: 70px; /* creates 10px margin between content and picture */
        }

    .comment div.links {
      text-align: right;
      }

  .indented {
    margin-left: 0;
    padding-left: 20px;
    border-left: 10px solid rgb(230,230,230); /* black 10% */
    }
  .indented .indented .indented .indented .indented .indented {
    padding-left: 0;
    border-left: none;
    }

/* -------------------------------------
 * end Comments
 * ===================================== */



/* =====================================
 * Schedule table style
 * ------------------------------------- */
 
.schedule-table {
  width: 100%;
  font-size: 1.2em;
  border-top: 1px solid #CCC;
  margin-bottom: 20px;
  line-height: 1.2em;
  }
    .schedule-table tr.odd {
      background-color: #FFF;
      }
    .schedule-table tr.even {
      background-color: rgb(213,234,212);
      }
    
    .schedule-table tr.row-tracks {
      background-color: #416E92;
      color: white;
      }
    .schedule-table tr.row-rooms {
      background-color: #A6CDED;
      }

      .schedule-table th,
      .schedule-table td {
        padding: 10px 5px;
        border-left: 1px solid #CCC;
        text-align: center;
        }

      .schedule-table tr.row-tracks th,
      .schedule-table tr.row-rooms th {
        padding: 5px;
        }

      .schedule-table th.col1, .schedule-table td.col1 { /* First column */
        width: 20%;
        border-left: none;
        }
       .schedule-table th.col2, .schedule-table td.col2 { /* Second column */
          width: 40%;
        }
       .schedule-table th.col3, .schedule-table td.col3 { /* Third column */
          width: 40%;
        }

/* -------------------------------------
 * End Schedule table style
 * ===================================== */



/* =====================================
 * Ubercart style
 * ------------------------------------- */
 
#cart-form-pane {
  font-size: 1.4em;
  }
  #cart-form-products th, #cart-form-products td {
    padding: 10px;
    }
  #cart-form-buttons {
    border: none;
    }
    #cart-form-buttons .form-submit {
      margin-right: 0;
      }
      
table.uc-order-history th, table.uc-order-history td {
  padding: 5px;
  }
  
/* -------------------------------------
 * End Ubercart style
 * ===================================== */
