/* Styles for Nodes on Internal Pages Goes Here */

/* General text of nodes */

#main-content .content h2 {
  color: #8A6C21;
  font-size: 2em;
  }

#main-content .content h3 {
  color: #69A961;
  font-size: 1.5em;
  }

#main-content .submitted {
  margin-bottom: 5px;
  border-top: 1px solid rgb(204,204,204);
  border-bottom: 1px solid rgb(204,204,204);
  font-size: 1.1em;
  line-height: 1.5em;
  color: rgb(102,102,102);
  }

#main-content .content ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
  }

#main-content div.links ul.links {
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 1em;
  }

ul.links li {
  margin-right: 10px;
  padding: 0;
  }
ul.links li.last {
  margin-right: 0;
  }
  ul.links li a {
    }

/*  End General text of nodes */





#main-content .view-sessions .views-row {
  margin-bottom: 10px;
  }

.session-teaser-wrapper {
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(230,230,230); /* black 10% */
  }
  .session-teaser-wrapper .picture {
    width: 60px;
    float: left;
    }
  .session-teaser-wrapper .info {
    margin-left: 70px;
    }
    .session-teaser-wrapper .info h2 {
      margin-bottom: 5px;
      }
    #main-content .session-teaser-wrapper .submitted {
      border: none;
      margin-bottom: 0;
      }



/* Titles */

#page-title {
  background: #E0DEA9 none repeat scroll 0 0;
  color: #8A6C21;
  padding: 10px;
  margin-bottom: 10px;
}


.profile h3 {
  border-bottom:1px solid #8A6C21;
  color: #8A6C21;
}

#sponsors {
  padding-left: 20px;
}

#sponsors h2 {
  color: #8A6C21;
}

#sponsors h3 {
  font-size: 1.3em;
  color: #69A961;
}

#sponsors li {
  color: #777777;
}


#recommended {
  background-color: #E0DEA9;
  padding: 10px;
  -moz-border-radius: 5px;
  margin-bottom: 10px;
}

#recommended a {
  color: #8A6C21;
  font-size: .9em;
  font-weight: lighter;
}

#refreshments {
  background: rgb(166,205,237);
  -moz-border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#refreshments p {
  color: #333333;
  font-size: 1.3em;
}


/*News Block*/

#block-views-news-block_1, #news-front {
  background: #eeeeee;
  -moz-border-radius: 5px;
  padding: 10px;
}
 
#block-views-news-block_1 a, #news-front a {
  font-size: .9em;
}


#edit-subject {
  width: 385px;
}

/*News Page*/

.view view-news view-id-news view-display-id-page_1 view-dom-id-1 {
  padding-left: 20px;
}
 