/* put your custom CSS in here */

/* Layout and Backgrounds */
body {
	font-family: Verdana, sans-serif;
	background: #f7f7f7;
	background-repeat: repeat-x;
}

.container {
	width: 100%;
}

#header-wrapper {
	width: 100%;
	background: #f1e4bc url('/sites/all/themes/blueprint/images/DCA_header_wrapper_bg2.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	margin-top: 0px;
}

#header-top {
	height: 200px;
	width: 1015px;
	margin: 0 auto;
}

#logo {
	width: 300px;
	height: 180px;
	margin-top: -5px;
	margin-left: 20px;
	background: url('/sites/all/themes/blueprint/images/DCA_logo.png') bottom left no-repeat;
}

#register {
	float: right;
	width: 275px;
	height: 170px;
	margin-top: -220px;
}

#header {
	background: #f1e4bc url('/sites/all/themes/blueprint/images/DCA_header_bg4.png');
	background-repeat: no-repeat;
	height: 270px;
	width: 990px;
	margin: 0 auto;
}

#primary {
	text-align: center;
	height: 25px;
  padding-top: 5px;
	width: 1015px;
	margin: 0 auto;
}

#secondary {
	width: 1015px;
	margin: 0 auto;
	
}

#preface-wrapper {
	background: url('/sites/all/themes/blueprint/images/DCA_preface_bg.png');
	width: 100%;
}

#preface {
	height: 342px;
	background: url('/sites/all/themes/blueprint/images/DCA_preface_bg.png');
	background-repeat: repeat-x;
	width: 1015px;
	margin: 0 auto;
}

#featured {
	height: 342px;
	float: left;
	width: 620px;
	margin-left: 20px;
	background: url('/sites/all/themes/blueprint/images/DCA_featured_bg.png');
	background-repeat: no-repeat;
}

#preface-right {
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	border-left: 1px solid #777777;
	background: url('/sites/all/themes/blueprint/images/DCA_preface_right_blimp.png');
	background-repeat: no-repeat;
	width: 300px;
	height: 270px;
}



#main-wrapper {
	background: #ffffff url('/sites/all/themes/blueprint/images/DCA_main_wrapper_bg.png');
	background-repeat: repeat-x;
	padding-top: 40px;
	width: 100%;
	clear: both;
	display: block;
	margin-bottom: 0px;
}

#main {
	/*background: #ffffff url('/sites/all/themes/blueprint/images/DCA_main_top_bg.png');
	background-repeat: repeat-x;
	padding-top: 40px;
	margin-top: -30px;*/
	width: 990px;
	margin: 0 auto;
	height: 100%;
	float: center;
	
}

.col-center span-24 {
	clear: both;
}

#before_content {
	border: 1px solid red;
	height: 100px;
}

#main-content {
	width: 550px;
	float: left;
	height: 500px;
	clear: both;
	display: block;
}

#content.div {
	display: block;
	clear: both;
}

#outer {
	width: 150px;
	float: right;
	height: 500px;
}

#inner {
	width: 250px;
	float: right;
	height: 500px;
	padding-right: 20px;
}

#footer-wrapper {
	width: 100%;
	background: #f7f7f7 url('/sites/all/themes/blueprint/images/DCA_footer_bg.png');
	clear:both;
	margin-top: 20px;
}

#footer {
	background: #f7f7f7 url('/sites/all/themes/blueprint/images/DCA_footer_bg.png');
	height: 200px;
	padding-top: 40px;
	width: 990px;
	margin: 0 auto;
	position: relative;
	
}

/* Typography */

h2 {
	background: #e8e8e8;
	border: 1px solid #bbbbbb;
	font-size: 14px;
	font-weight: bold;
	color: #777777;
	font-family: Verdana, sans-serif;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-transform: uppercase;
}

h3 {
	background: #e8e8e8;
	border: 1px solid #bbbbbb;
	color: #777777;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-transform: uppercase;
}

#primary a {
	color: #ffffff;
	text-decoration: none;
}

#primary li {
	border-right: 1px solid #ffffff;
}

#secondary a {
	color: #333333;
	text-decoration: none;
	margin-left: 90px;
}

